body, html{
	margin: 0;
	background: black;
}

p{
	color: white;
}

#browse
{
	display: none;
}

#div{
	border: 1px dotted #fff;
   	position: absolute;
	width: 0px;
	height: 0px;
}

#leftPanel{
	background: #404040;
	height: 95%;
	width: 25%;
	position: absolute;
	left: 1%;
	border-radius: 12%;
	border: 1px solid white;
	margin-top: 1%;
	margin-bottom: 1%;
}

#mainPanel{
	background: #404040;
	border-radius: 5%;
	border: 1px solid white;
	position: absolute;
	left: 28%;
	height: 95%;
	width: 70%;
	margin-top: 1%;
	margin-bottom: 1%;
}

#stepOne{
	position: relative;
	margin-left: 8%;
	margin-top: 15%;
	margin-bottom: 0;
}

#chooseBgFile{
	position: relative;
	margin-left: 25%;
	margin-top: 3%;
}	

#stepTwo{
	position: relative;
	margin-left: 8%;
	margin-top: 5%;
	margin-bottom: 0;
}

#task{
	position: relative;
	margin-top: 3%;
	margin-left: 4%;
	margin-bottom: 0;
	width: 90%;
}

#audioLabel{
	position: relative;
	margin-left: 3%;
	margin-top: 4%; 
	margin-bottom: 0;
	display: inline-block;	
	width: 55%;
}

#questionAudio{
	position: relative;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 0;
	width: 35%;
}

#goodAnswerLabel{
	position: relative;
	display: inline-block;
	margin-left: 3%;
	margin-top: 4%;
	margin-bottom: 0%;
	width: 55%;
}

#goodAnswer{
	position: relative;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 0;
	width: 35%;
}

#goodText{
	position: relative;
	margin-top: 3%;
	margin-left: 4%;
	margin-bottom: 0;
	width: 90%;
}


#badAnswerLabel{
	position: relative;
	display: inline-block;
	margin-left: 3%;
	margin-top: 4%;
	margin-bottom: 0%;
	width: 55%; 	
}

#badAnswer{
	position: relative;
	display: inline-block;
	margin-left: 2%;
	margin-bottom: 0;
	width: 35%;
}

#badText{
	position: relative;
	margin-top: 3%;
	margin-left: 4%;
	margin-bottom: 0;
	width: 90%;
}


#stepThree{
	position: relative;
	margin-left: 8%;
	margin-top: 5%;
	margin-bottom: 0;
}

#submitQuestion{
	position: relative;
	margin-top: 5%;
	margin-left: 20%;
	margin-bottom: 0;
	width: 60%;
}

#makeJson{
	position: relative;
	margin-top: 30%;
	margin-left: 20%;
	width: 60%;
}

input[type='file'] {
  	color:transparent;  
	width:40%; 
}

input[type='button']
{
	width: 50%;
}


